body.login {
   background-image: url("../images/login-bg.jpg");
   background-size: cover;
   background-position: center;
   position: relative;
   isolation: isolate;
}
/* .login::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: -1;
} */
.login h1 a {
   background-image: url("../images/login-logo.png");
   background-size: contain;
   background-repeat: no-repeat;
   width: 300px;
   height: 80px;
}
.language-switcher {
   display: none;
}
#loginform {
   background: #323232;
   color: white;
   border-radius: 15px;
}
.login h1 a {
   background-size: 120px !important;
   height: 120px !important;
   width: 120px !important;
   pointer-events: none;
}
#login p a {
   color: white !important;
   background: #323232;
   padding: 2px 5px;
   border-radius: 5px;
}
