body {
    min-height: 100vh;
    overflow-x: hidden !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
a {
    color: inherit;
}

/* MENU */
.main-menu {
    .elementor-nav-menu li > a {
        height: 100px;
    }
}

/*SUBPAGES*/
.subpages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &-image {
        background-size: cover;
        background-position: center center;
        height: calc(200px + 4vw) !important;
    }

    &-item {
        display: grid;
        grid-template-columns: 3fr 2fr;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &-content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 767px) {
            padding: 1rem;
        }

        h2 {
            font-size: 1.7rem;
            margin-bottom: 2rem;
            @media (max-width: 767px) {
                font-size: 1.3rem;
            }
        }

        button {
            a {
                color: white;
            }
            &:hover,
            &:hover a {
                color: var(--e-global-color-primary) !important;
            }
        }
    }
}

/*Légende de la lightbox*/
footer.elementor-slideshow__footer {
    display: none !important;
}

.elementor-location-header {
    position: relative;
    z-index: 2;
}

/*FORMULAIRE DE CONTACT */
.elementor-form-fields-wrapper {
    input:focus,
    textarea:focus {
        background-color: rgba(50, 203, 1, 0.3) !important;
    }
}

/*FOOTER*/
.elementor-location-footer {
    margin-top: auto;
}

/***********************
    COOKIES BAR
***********************/
#cookie-notice .cookie-notice-container {
    background-color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family);
}
#cookie-notice .cookie-notice-container .cn-button {
    background-color: var(--e-global-color-secondary) !important;
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}
#cookie-notice .cookie-notice-container a {
    color: inherit;
    font-weight: bold;
}
#cookie-notice .cookie-notice-container a:hover {
    color: black;
}
#cookie-notice .cookie-notice-container .cn-button:hover {
    background-color: black;
    color: inherit;
}
