/*
Theme Name: Loide Guitare
Description: Création de guitares personnalisées
Theme URI: https://www.loide-guitare.fr/
Author: Graph and Co
Author URI: https://www.graphandco.com
Template: _parent-theme-elementor 
Version: 0.1.0
*/
