.terms-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2px;

    .term-item {
        background-color: var(--primary);
        background-size: cover;
        background-position: center;
        position: relative;
        min-height: 200px;
        display: flex;
        align-content: end;
        align-items: end;
        isolation: isolate;

        &.term-item-carre {
            grid-area: span 2 / span 1;
        }

        &:before {
            content: '';
            position: absolute;
            inset: auto 0 0 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(transparent, black);
            opacity: 0.7;
            z-index: -1;
        }

        h2 {
            color: white;
            font-family: var(--e-global-typography-secondary-font-family);
            font-size: clamp(35px, calc(20px + 2vw), 45px);
            font-weight: bold;
            position: relative;
            margin: 0;
            padding: 0 10px 10px;
            position: relative;
            line-height: 0.8;

            span {
                font-size: clamp(20px, calc(10px + 2vw), 30px);
                padding-left: 5px;
            }
        }

        .term-desc {
            position: absolute;
            inset: 0;
            padding: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 12px;
            color: white;
            opacity: 0;
            transition: 0.3s;
        }

        &:hover .term-desc {
            opacity: 1;
        }
    }
}
