// /*LABELS*/

// /*CHECKBOXES*/

// .jet-checkboxes-list {
//     .jet-checkboxes-list-wrapper {
//         .jet-checkboxes-list__decorator {
//             border-color: var(--primary) !important;
//             background: transparent !important;
//             border-radius: 50%;

//             i {
//                 color: var(--primary) !important;
//             }
//         }
//     }
// }

// /*PRIX*/
// .jet-range {
//     margin-top: 20px;
//     padding-inline: 15px;
// }
