body {
  --primary: var(--e-global-color-primary);
  --secondary: var(--e-global-color-secondary);
  --text-color: var(--e-global-color-text);
  --bg-color: var(--e-global-color-6152da7);
  --text-font: var(--e-global-typography-primary-font-family);
  --title-font: var(--e-global-typography-secondary-font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

strong {
  color: var(--e-global-color-accent);
}

#main {
  max-width: 1200px !important;
}
@media screen and (max-width: 767px) {
  #main {
    padding-inline: 2vw;
  }
}

.menu-item .elementor-item {
  font-family: var(--title-font) !important;
}

.elementor-location-header {
  position: relative;
  z-index: 2;
}

.elementor-button-link {
  font-family: var(--e-global-typography-primary-font-family) !important;
  font-weight: 500 !important;
}

h1,
.title-xl .elementor-heading-title {
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: clamp(33px, 15px + 3vw, 45px);
  line-height: 1.1;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

h1:after,
.title-xl .elementor-heading-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 2px;
  background-color: var(--primary);
}

.title-xl-white .elementor-heading-title:after {
  background-color: white;
}

.title-lg .elementor-heading-title {
  font-family: var(--e-global-typography-813d378-font-family);
  font-size: clamp(18px, 15px + 1vw, 25px) !important;
  line-height: 1.1;
  font-weight: bold;
}

.elementor-post__read-more {
  font-weight: bold !important;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: var(--primary);
  color: white !important;
}
.elementor-post__read-more:hover, .elementor-post__read-more:focus {
  background-color: var(--secondary);
}

.elementor-widget-text-editor p:last-child {
  margin-bottom: 0;
}

/***********************
    ANIMATIONS
***********************/
body:not(.elementor-editor-active) .transform-left {
  opacity: 0;
  transform: translateX(-20px);
}
body:not(.elementor-editor-active) .transform-right {
  opacity: 0;
  transform: translateX(100px);
}
body:not(.elementor-editor-active) .transform-top {
  opacity: 0;
  transform: translateY(-20px);
}
body:not(.elementor-editor-active) .transform-bottom {
  opacity: 0;
  transform: translateY(20px);
}
body:not(.elementor-editor-active) .transform-opacity {
  opacity: 0;
}

/***********************
    ACTUS CONSEILS
***********************/
.quinconce-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "texte image";
  align-items: center;
}
.quinconce-item:nth-child(even) {
  grid-template-areas: "image texte";
}
.quinconce-item:nth-child(even) .quinconce-text {
  padding-left: 20px;
}
.quinconce-item:nth-child(odd) .quinconce-text {
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .quinconce-item {
    grid-template-areas: "texte texte" "image image" !important;
    grid-template-columns: 1fr;
  }
  .quinconce-item .quinconce-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.quinconce-item .quinconce-text {
  grid-area: texte;
  padding-block: 20px;
}
.quinconce-item .quinconce-image {
  grid-area: image;
  height: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

/***********************
    SITEMAP
***********************/
.wsp-container h2 {
  margin-top: 20px;
  color: var(--e-global-color-secondary);
}

.wsp-container li a,
.wsp-container strong {
  font-size: 1rem;
  color: var(--e-global-color-primary);
  padding-left: 10px;
}

.wsp-container li a:hover {
  color: var(--e-global-color-secondary);
}

.wsp-container li::marker {
  color: var(--e-global-color-primary);
  font-family: "Font Awesome 5 Free";
  content: "\f06c";
  font-weight: 900;
}

/***********************
    COOKIES BAR
***********************/
#cookie-notice .cookie-notice-container {
  background-color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-primary-font-family);
}
#cookie-notice .cookie-notice-container .cn-button {
  background-color: var(--e-global-color-secondary) !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--e-global-typography-primary-font-family) !important;
}
#cookie-notice .cookie-notice-container .cn-button:hover {
  background-color: black !important;
  color: inherit;
}
#cookie-notice .cookie-notice-container a {
  color: inherit;
  font-weight: bold;
}
#cookie-notice .cookie-notice-container a:hover {
  color: black;
}

/*#cookie-notice .cn-close-icon:before, #cookie-notice .cn-close-icon:after {
    background-color: var(--e-global-color-accent);;
}*/
/***********************
    NOTIFICATIONS
***********************/
.woocommerce-notices-wrapper .woocommerce-message {
  border-top-color: var(--secondary);
  margin-top: 50px;
}
.woocommerce-notices-wrapper .woocommerce-message .button {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
}
.woocommerce-notices-wrapper .woocommerce-message .button:hover {
  background-color: var(--secondary);
}

/*** SMARTPHONE SIZE ***/
a.add_to_cart_button {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.jet-woo-builder-archive-product-thumbnail {
  width: 100%;
}

.jet-woo-builder-archive-product-title {
  font-size: clamp(14px, 7px + 2vw, 22px);
}

.elementor-jet-woo-builder-products-loop .jet-woo-builder-products--columns:not(.jet-woo-builder-layout-149) {
  --columns: 5 !important;
}
@media screen and (max-width: 1600px) {
  .elementor-jet-woo-builder-products-loop .jet-woo-builder-products--columns:not(.jet-woo-builder-layout-149) {
    --columns: 4 !important;
  }
}
@media screen and (max-width: 1250px) {
  .elementor-jet-woo-builder-products-loop .jet-woo-builder-products--columns:not(.jet-woo-builder-layout-149) {
    --columns: 3 !important;
  }
}
@media screen and (max-width: 1024px) {
  .elementor-jet-woo-builder-products-loop .jet-woo-builder-products--columns:not(.jet-woo-builder-layout-149) {
    --columns: 2 !important;
  }
}
@media screen and (max-width: 350px) {
  .elementor-jet-woo-builder-products-loop .jet-woo-builder-products--columns:not(.jet-woo-builder-layout-149) {
    --columns: 1 !important;
  }
}

#type-conso,
#intensite {
  display: none;
}

.product_cat-mate #type-conso,
.product_cat-mate #intensite {
  display: block;
}

.product_cat-boissons #intensite {
  display: block;
}

.terms-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2px;
}
.terms-wrapper .term-item {
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 200px;
  display: flex;
  align-content: end;
  align-items: end;
  isolation: isolate;
}
.terms-wrapper .term-item.term-item-carre {
  grid-area: span 2/span 1;
}
.terms-wrapper .term-item:before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(transparent, black);
  opacity: 0.7;
  z-index: -1;
}
.terms-wrapper .term-item h2 {
  color: white;
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: clamp(35px, 20px + 2vw, 45px);
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0 10px 10px;
  position: relative;
  line-height: 0.8;
}
.terms-wrapper .term-item h2 span {
  font-size: clamp(20px, 10px + 2vw, 30px);
  padding-left: 5px;
}
.terms-wrapper .term-item .term-desc {
  position: absolute;
  inset: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  color: white;
  opacity: 0;
  transition: 0.3s;
}
.terms-wrapper .term-item:hover .term-desc {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */