/*
Theme Name: Pêche Exotique
Description: Magasin de Pêche à dannemarie
Theme URI: https://www.peche-exotique.fr/
Author: Graph and Co
Author URI: https://www.graphandco.com
Template: _parent-theme-elementor 
Version: 1.0
*/
